{% load cms_tags menu_tags sekizai_tags static analytical compress %}
{% page_attribute "page_title" as page_title %}
{% page_attribute "meta_description" as meta_description %}
<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    {% analytical_head_top %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ page_title }}{% endblock title %} - teleSUR Videos</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="HandheldFriendly" content="True">
    <meta content="{% block meta_description %}{{ meta_description|default:'Videos de teleSUR, noticias, reportajes, documentales y todoas nuestras tranmisiones en video grabadas para consulta o descarga' }}{% endblock %}" name="description"/>
    <meta name="keywords" content="{% block meta_keyworkds %}videos de telesur, television venezolana, telesurtv, venezuela, noticias, canal{% endblock %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"  />
    <link rel="search" type="application/opensearchdescription+xml" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'opensearch' %}" title="Búsqueda de videos en teleSUR" />
    
    {% block socialmeta %}
    <meta property="og:site_name" content="teleSUR Videos"/>
    <meta property="fb:app_id" content="380208352371240">

    <meta name="twitter:site" content="@videosteleSUR" />
    {% endblock %}

    {% block scripts %}
    {# <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script> #}
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    {% endblock %}

    {% block stylesheets %}{% compress css %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'sass/style.scss' %}" type="text/x-scss">
    {% endcompress %}{% endblock %}

    {% render_block "css" %}

    {% block extrahead %}{% endblock %}
    {% analytical_head_bottom %}
    <script type="text/javascript">
    var cX = cX || {}; cX.callQueue = cX.callQueue || [];
    cX.callQueue.push(['setSiteId', '9222358407259870873']);
    cX.callQueue.push(['sendPageViewEvent']);
    </script>

    <!--{% include "includes/newrelic.html" %}-->
</head>
<body class="{{ LANGUAGE_CODE }}">
{% analytical_body_top %}
{% cms_toolbar %}
{% block cms_toolbar %}{% endblock %}

{% block page %}
<div class="gtco-loader"></div>
<main id="page">
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</main>
{% endblock page %}

{% block arrowup %}
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% endblock %}

{% block bottom_scripts %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% compress js %}
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.query-object.js' %}"></script>
<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endcompress js %}
<script type="text/javascript">
(function(d,s,e,t){e=d.createElement(s);e.type='text/java'+s;e.async='async';
e.src='http'+('https:'===location.protocol?'s://s':'://')+'cdn.cxense.com/cx.js';
t=d.getElementsByTagName(s)[0];t.parentNode.insertBefore(e,t);})(document,'script');
</script>
{% endblock %}
{% render_block "js" %}

{% block extrabody %}{% endblock %}
{% analytical_body_bottom %}
</body>
</html>
