{% load cms_tags static clips_tags humanize i18n %}
{% with items=items|default:instance.get_items layout=layout|default:instance.get_layout %}

{% if not pagina %}
{% block list_header %}{% endblock %}
{% endif %}

<ul class="gtco-post-list {{ instance.list_type }}">
{% for l in layout|make_list %}
  {% with item=items|index:forloop.counter0 %}
  {% if item %}
  {% if forloop.first %}{% block first_item_top %}{% endblock %}{% endif %}
  <li class="{{ instance.list_type }} entry animate-box {% if l == '1' %}full{% endif %}{% if l == '2' %}one-half{% endif %}{% if l == '3' %}one-third{% endif %}{% if l == '4' %}one-fourth{% endif %}{% if l == '6' %}two-third{% endif %}{% if l == 'q' %}full video{% endif %}{% if l == 'w' %}one-half video{% endif %}{% if l == 'e' %}one-third video{% endif %}{% if l == 'r' %}one-fourth video{% endif %}{% if l == 'y' %}two-third video{% endif %}" data-animate-effect="fadeIn">
    {% block item %}{% endblock %}
  </li>
  {% endif %}
  {% endwith %}
{% endfor %}
</ul>
{% if instance.mostrar_mas and items|length == layout|length %}
  <div class="text-center list pag" id="pag-{{ instance.id }}">
    <a href="{% if instance.list_type == 'episode' %}{% url 'programa' programa_slug=programa.slug pagina=pagina|default:0|add:1 %}{% else %}{% url 'list' list_type=instance.list_type list_id=instance.id pagina=pagina|default:0|add:1 %}{% endif %}"
       role="button" class="more btn">{% trans "mostrar más" %}{% if instance.titulo %} {{ instance.titulo }}{% endif %}...</a>
  </div>
{% endif %}

{% endwith %}
