{% load cms_tags static clips_tags humanize i18n %}
{% get_list_layout instance pagina|default:0 as layout %}
{% get_list_clips instance pagina|default:0 as clips %}

{% if instance.titulo and not pagina %}
<h2>{{ instance.titulo }}</h2>
{% endif %}

<ul class="gtco-post-list">
{% for l in layout|make_list %}
  {% with clip=clips|index:forloop.counter0 %}
  {% if clip %}
  {% if forloop.first and not pagina and instance.mostrar_banner and clip.programa %}
  <li class="banner full">
    <a href="{% url 'search' %}?tipo=programa&programa={{ clip.programa.slug }}">
      {% if clip.programa.banner_url and 'placeholder.gif' not in clip.programa.banner_url %}
      <img src="{{ clip.programa.banner_url }}" />
      {% elif clip.programa.imagen_url %}
      <img src="{{ clip.programa.imagen_url }}" />
      {% else %}
      <h2>{{ clip.programa.nombre }}</h2>
      {% endif %}
    </a>
  </li>
  {% endif %}
  <li class="entry animate-box {% if l == "1" %}full{% endif %}{% if l == "2" %}one-half{% endif %}{% if l == "3" %}one-third{% endif %}{% if l == "4" %}one-fourth{% endif %}{% if l == "6" %}two-third{% endif %}{% if l == "q" %}full video{% endif %}{% if l == "w" %}one-half video{% endif %}{% if l == "e" %}one-third video{% endif %}{% if l == "r" %}one-fourth video{% endif %}{% if l == "y" %}two-third video{% endif %}" data-animate-effect="fadeIn">  
    <a itemprop="mainEntityOfPage" href="{% url 'video' clip.id clip.slug %}">
      <i class="icon icon-play"></i>
      <div class="entry-img" style="background-image: url({% static clip.thumbnail_grande %})"></div>
      <div class="entry-desc">
        {% if instance.mostrar_titulos %}<h3 itemprop="name">{{ clip.titulo|truncatewords:12 }}</h3>{% endif %}
        {% if instance.mostrar_descripciones or l == '1' %}<p>{{ clip.descripcion|truncatewords:45 }}</p>{% endif %}
      </div>
    </a>
    {% if instance.mostrar_tags or instance.mostrar_fecha %}
    <div class="post-meta">
      {% if instance.mostrar_tags %}
      <p class="seccion">{% include "includes/tags.html" %}</p>
      {% endif %}
      {% if instance.mostrar_fecha %}
      <br />
      <small class="date-posted">{{ clip.duracion|print_duration }}</small> | 
      <em><small class="date-posted">{{ clip.fecha|print_fecha:instance|capfirst }}</small></em>
      {% endif %}
    </div>
    {% endif %}
  </li>
  {% endif %}
  {% endwith %}
{% endfor %}
</ul>
{% if instance.mostrar_mas and clips|length == layout|length %}
  <div class="text-center pagination" id="pag-{{ instance.id }}">
    <a href="{% url 'video_list' lista_id=instance.id pagina=pagina|default:0|add:1 %}"
       role="button" class="more btn">{% trans "mostrar más" %}{% if instance.titulo %} {{ instance.titulo }}{% endif %}...</a>
  </div>
{% endif %}