{% load cms_tags static clips_tags humanize %}
{% get_list_layout instance pagina|default:0 as layout %}
{% get_list_clips instance pagina|default:0 as clips %}

{% if instance.titulo and not pagina %}
<h2>{{ instance.titulo }}</h2>
{% endif %}

<ul class="gtco-post-list">
{% for l in layout|make_list %}
  {% with clip=clips|index:forloop.counter0 %}
  {% if clip %}
  <li class="entry animate-box {% if l == "1" %}full{% endif %}{% if l == "2" %}one-half{% endif %}{% if l == "3" %}one-third{% endif %}{% if l == "4" %}one-fourth{% endif %}{% if l == "6" %}two-third{% endif %}{% if l == "q" %}full video{% endif %}{% if l == "w" %}one-half video{% endif %}{% if l == "e" %}one-third video{% endif %}{% if l == "r" %}one-fourth video{% endif %}{% if l == "y" %}two-third video{% endif %}" data-animate-effect="fadeIn">  
    <a href="{% url 'video' clip.slug %}">
      <i class="icon icon-play"></i>
      <div class="entry-img" style="background-image: url({% static clip.thumbnail_grande %})"></div>
      <div class="entry-desc">
        {% if instance.mostrar_titulo %}<h3>{{ clip.titulo|truncatewords:50 }}</h3>{% endif %}
        {% if instance.mostrar_descripcion %}<p>{{ clip.descripcion|truncatewords:50 }}</p>{% endif %}
      </div>
    </a>
    <div class="post-meta">
      {% if not l in "qwerty" or clip.tipo.slug == 'programa' %}
      <p class="seccion">
        {% include "includes/tags.html" %}
      </p>
      {% endif %}
      {% if instance.mostrar_fecha == "rel" %}
      <br /><small class="date-posted">{{ clip.fecha|naturaltime|capfirst }}</small>
      {% else %}{% if instance.mostrar_fecha == 'f' %}
      <br /><small class="date-posted">{% if clip.fecha|es_anoactual %}{{ clip.fecha.date|date:"j \d\e F"|lower }}{% else %}{{ clip.fecha.date|date:"j \d\e F \d\e Y"|lower }}{% endif %}</small>
      {% else %}{% if instance.mostrar_fecha == 'fh' %}
      <br /><small class="date-posted">{% if clip.fecha|es_anoactual %}{{ clip.fecha|date:"j \d\e F, H:i \h\r\s."|lower }}{% else %}{{ clip.fecha|date:"j \d\e F \d\e Y, H:i \h\r\s."|lower }}{% endif %}</small>
      {% else %}{% if instance.mostrar_fecha == 'con' %}
        {% if clip.fecha.date|es_hoy %}
          <br /><small class="date-posted">{{ clip.fecha|naturaltime|capfirst }}</small>
        {% else %}
          <br /><small class="date-posted">{% if clip.fecha|es_anoactual %}{{ clip.fecha.date|date:"j \d\e F"|lower }}{% else %}{{ clip.fecha.date|date:"j \d\e F \d\e Y"|lower }}{% endif %}</small>
        {% endif %}
      {% endif %}{% endif %}{% endif %}{% endif %}
    </div>
  </li>
  {% endif %}
  {% endwith %}
{% endfor %}
</ul>
{% if instance.mostrar_mas and clips|length == layout|length %}
  <div class="text-center pagination" id="pag-{{ instance.id }}">
    <a href="{% url 'video_list' lista_id=instance.id pagina=pagina|default:0|add:1 %}"
       role="button" class="more btn">Mostrar más {{ instance.titulo }}...</a>
    <script>
      $(function() {
        $("#pag-{{ instance.id }} a").click(function(ev) {
          ev.preventDefault();
          $(this).attr('disabled', 'disabled');
          $(this).text('Cargando más {{ instance.titulo }}...');
          $.ajax({
            url: $(this).attr('href'),
          }).done(function(resp) {
            $("#pag-{{ instance.id }}").replaceWith(resp);
            var i = 0;
            $('.animate-box').waypoint( function( direction ) {

              if( direction === 'down' && !$(this.element).hasClass('animated-fast') ) {

                i++;

                $(this.element).addClass('item-animate');
                setTimeout(function(){

                  $('body .animate-box.item-animate').each(function(k){

                    var el = $(this);
                    setTimeout( function () {
                      var effect = el.data('animate-effect');
                      if ( effect === 'fadeIn') {
                        el.addClass('fadeIn animated-fast');
                      } else if ( effect === 'fadeInLeft') {
                        el.addClass('fadeInLeft animated-fast');
                      } else if ( effect === 'fadeInRight') {
                        el.addClass('fadeInRight animated-fast');
                      } else {
                        el.addClass('fadeInUp animated-fast');
                      }

                      el.removeClass('item-animate');
                    },  k * 50, 'easeInOutExpo' );
                  });

                }, 100);

              }

            } , { offset: '85%' } );
          });
        });
      });
    </script>
  </div>
{% endif %}