{% extends "simple.html" %}
{% load clips_tags %}

{% block extrahead %}{{ block.super }}
<script>
$(function() {

  ajax_search = function(q) {
    $('#results-label').text('Realizando búsqueda...')
    return $.ajax({
      url: '{% url "search" %}',
      method: 'get',
      data: {q: q}
    }).done(function(resp) {
      // debugger;
      $('#main-results').html(resp);
      $('#results-label').text($('#main-results li').length ?
        'Resultados de búsqueda' : 'Búsqueda sin resultados');
      history.pushState({}, null, this.url);
      contentWayPoint();
    });
  };

  var ant = '{{ query }}';
  $('.search input[name=q]').on('keypress', function(e){
    if (e.which == '13') {
      e.preventDefault();
      ajax_search($(this).val());
    }
  });

  $('ul.filtros a').on('click', function(ev) {
    ev.preventDefault();
    location.href = $.query.set($(this).attr('data-filtro'), $(this).attr('data-val')).toString();
  });

  $('a.remove-filtro').on('click', function(ev) {
    ev.preventDefault();
    console.log($.query.remove($(this).attr('data-filtro')).toString() );
    location.href = '{{ request.path }}' + $.query.remove($(this).attr('data-filtro')).toString();
  });
});
</script>
{% endblock %}

{% block content %}
<div id="sidebar">

  {% if filtros or query or tiempo %}
  <div class="sidebox auto-height p-md">
    <h4>Filtros seleccionados</h4>
    {% if query %}
    <p><a href="#" data-filtro="q" data-val="{{ query }}" title="Búsqueda: {{ val }}" class="remove-filtro"><span class="icon"><i class="icon-cross"></i></span> </a> Búsqueda: {{ query|truncatechars:25 }}</p>
    {% endif %}
    {% if tiempo %}
    <p><a href="#" data-filtro="tiempo" data-val="{{ tiempo }}" title="Antigüedad máxima: {{ val }}" class="remove-filtro"><span class="icon"><i class="icon-cross"></i></span> </a> Antigüedad máxima: {{ tiempo }}</p>
    {% endif %}
    {% for filtro, val in filtros.items %}
    <p><a href="#" data-filtro="{{ filtro }}" data-val="{{ val }}" title="{{ filtro }}: {{ val }}" class="remove-filtro"><span class="icon"><i class="icon-cross"></i></span> </a> {{filtro }}: {{ val }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="sidebox">
    <h4>Tipo de contenido</h4>
    <ul class="filtros" style="height: auto;">
      {% get_tipos as tipos %}
      {% for c in tipos %}
          {% if c.slug not in exclude_tipos %}
          <li><a title="{{ c.slug }}" data-filtro="tipo" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
          {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="sidebox">
    <h4>Antigüedad de la transmisión</h4>
    <ul class="filtros" style="height: auto;">
      <li><a title="" data-filtro="tiempo" data-val="1d">Hoy</a></li>
      <li><a title="" data-filtro="tiempo" data-val="1s">Ultima semana</a></li>
      <li><a title="" data-filtro="tiempo" data-val="1m">Ultimo mes</a></li>
      <li><a title="" data-filtro="tiempo" data-val="1a">Ultimo año</a></li>
    </ul>
  </div>

  <div class="sidebox">
    <h4>Categoría</h4>
    <ul class="filtros" style="height: auto;">
      {% get_categorias as cats %}
      {% for c in cats %}
          {% if c.slug not in exclude_categorias %}
          <li><a title="{{ c.slug }}" data-filtro="categoria" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
          {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="sidebox">
    <h4>Programa</h4>
    <ul class="filtros" style="height: 365px;">
      {% get_programas as progs %}
      {% for c in progs %}
          <li><a title="{{ c.slug }}" data-filtro="programa" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
      {% endfor %}
    </ul>
  </div>


  <div class="sidebox">
    <h4>Correpsonsal</h4>
    <ul class="filtros" style="height: 365px;">
      {% get_corresponsales as corrs %}
      {% for c in corrs %}
          <li><a title="{{ c.slug }}" data-filtro="corresponsal" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebox">
    <h4>Temas</h4>
    <ul class="filtros" style="height: 365px;">
      {% get_temas as temas %}
      {% for c in temas %}
          <li><a title="{{ c.slug }}" data-filtro="tema" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebox">
    <h4>País</h4>
    <ul class="filtros" style="height: 365px;">
      {% get_paises as paises %}
      {% for c in paises %}
          <li><a title="{{ c.slug }}" data-filtro="pais" data-val="{{ c.slug }}">{{ c.nombre }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
<div id="search-result">
  <div class="row row-pb-md">
    <div class="col-md-12">

      <div class="search">
        <span class="icon"><i class="icon-search"></i></span>
        <input type="search" name="q" value="{{ query }}" placeholder="Buscar..." />
      </div>

      <h2 id="results-label">{% if clips|length %}Resultados de la búsqueda{% else %}Búsqueda sin resultados{% endif %}</h2>

      <ul class="gtco-post-list" id="main-results">
        {% include "clips/search_results.html" %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}