{% extends player|yesno:"clips/player.html,clips/video.html" %}
{% load static compress i18n %}

{% block stylesheets %}
<link rel="stylesheet" href="//releases.flowplayer.org/7.0.0/skin/skin.css">
{% compress css %}
<style type="text/css">
  .flowplayer .fp-engine {
  top: -4px;
}

.flowplayer {
  z-index: 9999;
}

.flowplayer .fp-color {
  background-color: #c11717;
}

.flowplayer .fp-controls {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
</style>
{% endcompress %}
{{ block.super }}
{% endblock %}

{% block video_wrapper_attrs %}data-ratio="{{ clip.aspectratio }}" class="fp-slim"{% endblock %}

{% block videoattrs %}{{ block.super }} data-title="{# clip.titulo #}"{% endblock %}

{% block player %}{{ block.super }}
{% compress js %}
<script>
window.thumbnail_conf = {};
{% if clip.thumbnails_interval %}
var padLeft = function(nr, n, str) {
    return Array(n-String(nr).length+1).join(str||'0')+nr;
}
window.thumbnail_conf = {
  interval:  {{ clip.thumbnails_interval }},
  template: '{{ clip.thumbnails_base }}/tv{time}.jpg',
  time_format: function(time) {
    num = Math.floor(time/{{ clip.thumbnails_interval }});
    if (num > 1) num = num - 1;
    return padLeft(time, 3);
  }
}
{% endif %}
</script>
{% endcompress %}
{% endblock %}

{% block bottom_scripts %}{{ block.super }}
{% if VIDEOS_FLOWPLAYER_KEY %}
<script src="//releases.flowplayer.org/7.0.0/commercial/flowplayer.min.js"></script>
<script src="//s0.2mdn.net/instream/html5/ima3.js"></script>
<script src="//releases.flowplayer.org/vast/telesurtv.net/vast.min.js"></script>
{% else %}
<script src="//releases.flowplayer.org/7.0.0/flowplayer.min.js"></script>
{% endif %}
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>
<script src="//releases.flowplayer.org/thumbnails/flowplayer.thumbnails.min.js"></script>
{% compress js inline %}
<script>
(function($) {
  flowplayer(function (api, root) {
    api.embedCode = function () {
      return '{{ clip.embed_tag_inline|safe }}';
    };
    api.on("ready", function() {
      $(".fp-share-menu strong:first").text('{% trans "Compartir" %}');
      $(".fp-qsel-menu strong:first").text('{% trans "Calidad" %}');
    });
  });

  $('#player-wrapper').flowplayer({
    {% if not player or request.GET.autoplay or request.GET.auto_play %}
    autoplay: true,
    {% endif %}
    // splash: true,
    hlsjs: true,
    hlsQualities: true,
    {% if VIDEOS_FLOWPLAYER_KEY %}
    key: '{{ VIDEOS_FLOWPLAYER_KEY }}',
    brand: 'teleSUR',
    {% endif %}
    {% if VIDEOS_ANALYTICS %}
    analytics: '{{ VIDEOS_ANALYTICS }}',
    {% endif %}
    twitter: false,
    thumbnails: thumbnail_conf,
    subtitles: [],
    ima: {
      locale: "{{ LANGUAGE_CODE }}",
      ads: [{
        time: 4,
        adTag: "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/138871148/telesurtv.dv.vasttag&ciu_szs=160x600,300x250,300x600,728x90&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&url=[referrer_url]&description_url=http%3A%2F%2Fwww.telesurtv.net%2F&correlator=[timestamp]"
      }]
    }
  });
  {% if not player %}
  // flowplayer().toggle();
  {% endif %}
})(jQuery);
</script>
{% endcompress %}
{% endblock %}