{% load cms_tags static %}

<div>
<a><div class="entry-img" style="background-image: url({% static 'https://media-telesur.openmultimedia.biz/clips/imagen-2016-08-16-152229487205-580120.png/thumb/600x600.jpg' %})"></div></a>
<div class="entry-desc">
    {% placeholder titulo %}
    <div>
    {% placeholder descripcion %}
    </div>
</div>
</a>
<a href="single.html" class="post-meta">
    <p class="seccion"><span class="label noticia label-danger">Noticia</span></p><small class="date-posted">hace 10 horas</small>
</a>
</div>
