{% load static %}
<footer id="gtco-footer">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4">
                <a href="index.html"><img src="{% static 'images/logo/log-iso-telesur.png_253617125.png' %}"><img src="{% static 'images/logo/logo-tipo-telesur_brand.png_1578350673.png' %}" data-pin-nopin="true"> </a>
            </div>
            <div class="col-md-4">
                <p></p>
            </div>
            <div class="col-md-4">
                <ul class="gtco-social-icons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-google"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <small>La Nueva Televisión del Sur C.A. (TVSUR) RIF: G-20004500-0</small>
                <span>© 2017 Telesur</span>
            </div>
        </div>
    </div>
</footer>