{% load static menu_tags %}
<nav class="gtco-nav" role="navigation">
    <div class="container">
        <!-- <div id="heading-page">
            <h3>Videos</h3>
        </div>  -->
        <div class="row">
            <!-- <div class="col-xs-2 text-left"> -->
            <div class="col-xs-12 text-center logos">
                <div id="gtco-logo">
                  <a href="http://telesurtv.net"><img src="{% static 'images/logo/logo1.png' %}" alt="teleSUR" class="logopic" /><img src="{% static 'images/logo/logo2.png' %}" alt="teleSUR" class="" /><span>Videos</span></a>
                </div>
            </div>
            <div class="col-xs-12 text-center menu-1">
                <ul class="">
                    {% show_menu 0 100 100 100 %}
                </ul>
            </div>
            <div class="search" id="header-search">
                <span class="icon"><i class="icon-search"></i></span>
                <input type="search" data-url="{% url 'search' %}" name="q" id="q" placeholder="Buscar..." />
            </div>
        </div>
    </div>
</nav>