{% load static menu_tags %}
<nav class="gtco-nav" role="navigation">
    <div class="container">
        <!-- <div id="heading-page">
            <h3>Videos</h3>
        </div>  -->
        <div class="row">
            <!-- <div class="col-xs-2 text-left"> -->
            <div class="col-xs-12 text-center logos">
                <div id="gtco-logo">
                  <a href="http://telesurtv.net"><img src="{% static 'images/logo/log-iso-telesur.png_253617125.png' %}" alt="teleSUR" class="logopic" /><img src="{% static 'images/logo/logo-tipo-telesur_brand.png_1578350673.png' %}" alt="teleSUR" class="" /><span>Videos <sup>BETA</sup></span></a>
                </div>
            </div>
            <div class="col-xs-12 text-center menu-1">
                <ul class="">
                    {% show_menu 0 100 100 100 %}
                </ul>
            </div>
            <div class="search" id="header-search">
                <span class="icon"><i class="icon-search"></i></span>
                <input type="search" name="q" id="q" placeholder="Buscar..." />
                <script>

                var ant = '{{ query }}';
                $(document).on('keypress', '#header-search input[name=q]', function(e){
                    if (e.which == '13') {
                        e.preventDefault();
                        var q = $(this).val();
                        if (q) {
                            location.href="{% url "search" %}?q=" + q;
                        }
                    }
                });
                </script>
            </div>
        </div>
    </div>
</nav>